
.nav {
  background: rgb(41, 33, 33);
  height: 40px;
  padding: 10px;
  /* box-sizing: border-box; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
} 

.title {
  color: rgb(87, 189, 20);
  margin: 1px 0px 0px 1px;
  font-family: 'Courier New', Courier, monospace;
}
.title2 {
  color: rgb(87, 189, 20);
  margin: 0px 0px 0px 2px;
  font-family: 'Courier New', Courier, monospace;
}

.search-container input{
  height: 33px;
  width: 260px;
  border-radius: 20px;
  border: 0.1px solid rgba(250, 243, 243, 0.932);
  font-size: 16px;
  padding: 0 10px;
  /* box-sizing: border-box; */
  background: rgb(41, 33, 33);
  /* justify-content: right; */
  color: white;
  margin-left: 300px;
}
/* .search-container {
  position: relative;
} */

.nav-titles {
  color: rgb(228, 224, 224);
  margin-left: 20px;
  margin-top: 8px;
  cursor: pointer;
 
  /* justify-content: flex-end; */
}

/* hr {
width: 50%;
color: white;
} */

body {
  background-color:  rgb(41, 33, 33);
}

.movie-list {
  display: inline-block;
  margin: 10px 20px 0px 20px ;
}
.movie-card {
  height: 200px;
  width: 140px;
  border: 2px solid white;
  border-radius: 2px;
 display: inline-block;
  margin: 20px 50px 5px 20px;
  
  /* align-items: flex-end; */
  /* justify-content: space-around; */
  position: relative;
}

.movie-title {
  margin-left: 20px;
  color: aliceblue;
  position: absolute;
  margin-top: 0.5px;
  letter-spacing: 0.5px;
}

.release-date{
  color: rgb(250, 251, 252);
  margin-left: 20px;
  margin-bottom: 2px ;
  padding-top: 8px ;
  
}

.movie-image {
  height: 200px;
  width: 140px;
  
}

.rating {
position: absolute;
color: white;
opacity: 0;
top: 50px;
left:30px;
}

.button {
  position: absolute;
  background-color: rgb(87, 189, 20) ;
  color: white;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 2px;
  opacity: 0;
  top: 100px;
  left:10px;
}

.movie-card:hover {
  border: 2px solid  rgb(87, 189, 20);

}

.movie-image:hover {
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}

.movie-card:hover .button {
 opacity: 1;
}

.movie-card:hover .rating {
  opacity: 1;
  z-index: 1;
 }

 .top {
   display: inline-block;
 }
.detail-image {
  height: 290px;
  width: 190px;
  border: 3px solid white;
  margin: 50px 0px 0px 50px;
  border-radius: 3px;
  position: relative;
}

.download-btn {
  /* display: inline-block; */
  height: 30px;
  width: 191px;
  position: absolute;
  top: 70%;
  left: 4.3%;
  background-color: rgb(87, 189, 20);
  border: none;
  color: white;
  border-radius: 2px;
}

.detail-title {
  position: absolute;
  top: 17%;
  left: 30%;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.detail-year {
  position: absolute;
  top: 28%;
  left: 30%;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.detail-drama {
  position: absolute;
  top: 32%;
  left: 30%;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.detail-count {
  position: absolute;
  top: 52%;
  left: 30%;
  color: rgb(197, 204, 156);
  font-family: 'Times New Roman', Times, serif;
}

.detail-vote {
  position: absolute;
  top: 52%;
  left: 45%;
  color: rgb(197, 204, 156);
  font-family: 'Times New Roman', Times, serif;
}

.similar {
  position: absolute;
  top: 17%;
  left: 60%;
  color: white;
  width: 30%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  color: rgb(197, 204, 156);;
}