
.nav {
  background: rgb(41, 33, 33);
  height: 40px;
  padding: 10px;
  /* box-sizing: border-box; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
} 

.title {
  color: rgb(87, 189, 20);
  margin: 1px 0px 0px 1px;
  font-family: 'Courier New', Courier, monospace;
}
.title2 {
  color: rgb(87, 189, 20);
  margin: 0px 0px 0px 2px;
  font-family: 'Courier New', Courier, monospace;
}

.search-container input{
  height: 33px;
  width: 260px;
  border-radius: 20px;
  border: 0.1px solid rgba(250, 243, 243, 0.932);
  font-size: 16px;
  padding: 0 10px;
  /* box-sizing: border-box; */
  background: rgb(41, 33, 33);
  /* justify-content: right; */
  color: white;
  margin-left: 300px;
}
/* .search-container {
  position: relative;
} */

.nav-titles {
  color: rgb(228, 224, 224);
  margin-left: 20px;
  margin-top: 8px;
  cursor: pointer;
 
  /* justify-content: flex-end; */
}

/* hr {
width: 50%;
color: white;
} */

body {
  background-color:  rgb(41, 33, 33);
}

.movie-list {
  display: inline-block;
  margin: 10px 20px 0px 20px ;
}
.movie-card {
  height: 180px;
  width: 120px;
  border: 2px solid white;
  border-radius: 2px;
 
  margin: 50px 50px 10px 20px;
  /* align-items: flex-end; */
  /* justify-content: space-around; */
  position: relative;
}

.movie-title {
  color: aliceblue;
}

p{
  color: rgb(250, 251, 252);
}

.movie-image {
  height: 180px;
  width: 120px;
}

.rating {
position: absolute;
color: white;
opacity: 0;
top: 50px;
left:30px;
}

.button {
  position: absolute;
  background-color: rgb(87, 189, 20) ;
  color: white;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 2px;
  opacity: 0;
  top: 100px;
  left:10px;
}

.movie-card:hover {
  border: 2px solid  rgb(87, 189, 20);

}

.movie-image:hover {
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}

.movie-card:hover .button {
 opacity: 1;
}

.movie-card:hover .rating {
  opacity: 1;
  z-index: 1;
 }